---
import '../styles/styles.sass'
import { ENTRIES } from '../util/entries';
import Component from "../components/Component";

const setStyle = (img) => `background-image: url(${img});`

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div class="main-title">
				<h1>Héctor Rivera personal blog</h1>
				<p>Blog to talk about the things that I like.</p>
			</div>

			<h3 style="font-weight: 400; margin-bottom: 5px">//Recent entries<h3>
			<div class="recent-entries-container">
				{ENTRIES.map(({title, description, url,img}) => (
					<div class="recent-entry">
						<a href={url} styles={setStyle(img)}>
							<h3>{title}</h3>
							<p>{description}</p>
						</a>
					</div>
				))}				
			</div>
		</header>
		<Component></Component>
	</body>
</html>
