---
import '../styles/styles.sass'
import ENTRIES from '../util/entries';
import Component from "../components/Component";
import FooterRes from '../components/Footer';
import Nav from '../components/Nav';
import Entries from '../components/Entries';

const RECENT_ENTRIES = ENTRIES.slice(ENTRIES.length - 4,ENTRIES.length).reverse()
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/personal-blog/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<Nav/>
		<header>
			<div class="main-title" id="main-title">
				<h1>Héctor Rivera personal blog</h1>
				<p>Blog to talk about things.</p>
			</div>

			<h3 style="font-weight: 400; margin-bottom: 5px">// Recent entries<h3>
			<div class="recent-entries-container">
				{RECENT_ENTRIES.map(({title, description, url,img,date},id) => (
					<div class=`recent-entry-${id} recent-entry` 
						style=`
							background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 1)), url('/personal-blog${img}'); 
							background-size: cover;`
					>
						<a href={`/personal-blog${url}`}>
							<h3>{title}</h3>
							<p>{description}</p>
							<span class='date-entry'>{date}</span>
						</a>
					</div>
				))}				
			</div>
		</header>
		<Component></Component>
		<Entries></Entries>
		<FooterRes/>
	</body>
</html>